body {
    background-color: #FF33AF;
}

.contact {
    font-family: 'Neue Haas Grotesk' cursive, sans-serif;
    font-size: 45px;
}
/* It was one of the most challenging things I've encountered this year, 
reconnecting with code.  After chemotherapy I suffered from a side effect
called chemo brain, which entails things like:  short term memory loss, lack
of concentration, unable to retain information and losing stuff, just an 
overall fuzzy feeling.  My onclogist said "karen play games", so I signed up 
with for a women that code meetup and took a coding course in October 2016.
Tutorials were a breeze, but once I sat down in class, in one of the tech 
offices, mmm was it google or spotify, anyway, I was only able not able 
to keep up, if it werent' for the kind assistance of a very young
techie who did her work, my work, texted, talked to the teacher and took
phone calls.  She was brilliant and encouraged me to revisit it someday.
Low and behold I decided to start a blog, took a class at NYPL and figured out
a shortcut to bringing my goal to fruition via squarespace.  I met a peppy 
young insstructor who said, hey, sign up for the course, coding, you can do it.
and so I am.  Thanks Belem for the inspiration. Go forth and continue
to inspire.  With Thanks, Karen P */