ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #66b3ff;
}
/*-practice styling site for individual project*/
li {
    float: left;
}

li a {
    display: block;
    color: red;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
    font-family:  Montserrat, Arial, serif;
    font-size: 20px;
}
/*some of the websites that I originally picked to link appearaed to be blocked*/
li a:hover {
    background-color: #000000;
}
/*Yeah, my hover element is working*/
li: last-child {
    border-right: none;
}
    

p {
    font-family: Lato, Arial, Serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 27.2px;
    color: #BBBEBF;
}

h1 {
    font-family: Montserrat, Arial, san serif;
    font-size: 80px;
    font-weight: 700;
    color: #020F13;
    text-align: left;
}
/*Discuss with Belem what the error message means for the google font situation on line 41*/
h2 {
    
    font-family: Montserrat, Arial, san serif;
    font-size: 48px;
    font-weight: bold;
    color: #020F13;
    text-align: left;
}

img {
    max-width: 100%;
}

/*images are something that i have to practice with*/